.b{
	grid-column-start:2;
	grid-column-end:6;
	height:70px;
	box-shadow:0 2px 6px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 2px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0 2px 6px rgba(0, 0, 0, 0.4);
	line-height:70px;
	grid-auto-flow:row;
	position: sticky;
	top: 0;
}

.container1{
	height:35px;
	margin-top:-35px;
	width:100%;
	display:inline-grid;
}

.search i{
	font-size:20px;
	position:relative;
	cursor:pointer;
	color:#BCBCCB;
}


.search input{
	border:none;
	cursor:pointer;
	font-size:16px;
	color:#BCBCCB;
}

.search input:focus{
	outline:none;
	font-size:16px;
}

.search a{
	text-decoration:none;
	line-height:70px;
	height:70px;
	margin-top:auto;
	margin-bottom:auto;
	display:block;
}

.box ul li{
	list-style:none;
}

.comments .fa-comments{
	font-size:20px;
	color:#BCBCCB;
	margin-left:580px;	
}

.fa-comments:hover{
	color:orange;
}

.bell a i{
	text-decoration:none;
	color:#BCBCCB;
	font-size:20px;
	margin-left:30px;
}

.bell a i:hover{
	color:orange;
}

.bell span{
	top:-12px;
	left:-12px;
	width:8px;
	height:8px;
	line-height:1.5;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border:1px solid orange;
	background-color:orange;
	color:whitesmoke;
	font-size:11px;
	padding:2px;
	position:relative;
	cursor:pointer;
}

.box ul{
	font-size:0;
	list-style:none;
}

.box ul li a{
	text-decoration:none;
	color:darkslategray;
}

.box ul li{
	display:inline-block;
	position:relative;
	font-size:12px;
	font-weight:400;
	color:darkslategray;
	/* margin-left: 243px; */
	/* margin-left: 500px; */
}
.box ul li ul{
	display:none;
}

.box ul li:hover{
	cursor:pointer;
}

.box ul li:hover ul{
	display:block;
	margin-top:10px;
	width:280px;
	left:-150px;
	text-indent:-30px;
	line-height:2;
	color:darkslategray;
	list-style:none;
	position:absolute;
	background:white;
	box-shadow:0 2px 6px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 2px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0 2px 6px rgba(0, 0, 0, 0.4);
}

.box ul li:hover ul li{
	display:block;
	color:darkslategray;
	
}

.box ul li:hover ul li:hover {
  color: darkslategray;
}

.link{
	text-align:center;
}

.line{
	color:#BCBCCB !important;
	font-size:20px;
	line-height:3.2;
	margin-right:20px;
}
.username{
	margin-left: 1130px;
}
.username a{
	text-decoration:none;
	color:darkslategray !important;
	font-size:18px;
}

.username a i{
	font-size:20px;
	color:#BCBCCB;
	align-self:baseline;
	display:inline-block;
	padding-top:40px;
}
/* 
.userphoto i{
	font-size:20px;
	color:orange;
	margin-left:10px;
} */

/* .username a ul {
	padding-left:-1000px !important;
	text-align:left;
}  */

